extends layout.pug

block head
  title=title
  link(rel='stylesheet' href='/stylesheets/reset.css')
  link(rel='stylesheet' href='/stylesheets/navbar.css')
  link(rel='stylesheet' href='/stylesheets/bookshelves.css')

block content
    div(class="label" id="header")
        h1 My Manga
    div(class="add-bookshelf-div")
        button(id="add-button" type="submit") 🥭 Add Bookshelf 🥭
    div(class="newBookshelfDiv")
        p(id="addShelf-text" style="display: none;") Add a shelf
    div(class="add-bookshelf-form-div")
        div(class="add-bookshelf-form")
            form(action="/bookshelves" method="post" id="form")
                label(for="name")
                input(class="label" type="text" name="name" id="add-bookshelf")
                button(type="submit" id="submit-button") Add
            div(class="cancelButtonDiv")
                button(id="cancelAddBookshelf" style="display: none;") Cancel

    div(id="bookshelf-display")
        ul(id="manga-list")
            each bookshelf in bookshelves
                div(id=`bookshelf-container-${bookshelf.id}` class="bookshelf-container")
                    h2(id=`bookshelfName-${bookshelf.id}`)= bookshelf.name
                    div(id=`bookshelfBox-${id=bookshelf.id}`).bookshelfBox
                        button(id=`edit-${bookshelf.id}` name=`${bookshelf.id}`).edit-btn Edit
                        button(class="delete-button" id=`delete-${bookshelf.id}` name=`${bookshelf.id}`).delete-bookshelf-btn Delete
                        input(type="text" id=`input-${bookshelf.id}` style="display: none")
                        button(type="submit" id=`submit-${bookshelf.id}` name=`${bookshelf.id}` style="display: none").submit-btn Submit
                    if (bookshelf.Mangas.length)
                        div(id=`manga-container-${bookshelf.id}` class="manga-container")
                            each manga in bookshelf.Mangas
                                div(id=`bookshelf-${bookshelf.id}-manga-box-${manga.id}` class="manga-box")
                                    div
                                        a(href=`/mangas/${manga.id}`)
                                            img(src=manga.imgSrc, alt=`image of ${manga.title}'s manga cover` id="manga-image")
                                    div(id="manga-title")
                                        label(class="title-label" for="manga-title") Title
                                        p= manga.title
                                    div(id="manga-author")
                                        label(class="author-label" for="manga-author") Author
                                        p= manga.author
                                    div(id="manga-year")
                                        label(class="year-label" for="manga-year") Release Year
                                        p= manga.year
                                    div
                                        button(class="delete-btn" id=`delete-manga-${manga.id}` name=manga.id value=bookshelf.id).manga-delete-btn ❌

    script(src='/javascripts/add-bookshelf.js' type='module')
    script(src='/javascripts/edit-bookshelf.js' type='module')
    script(src='/javascripts/delete-bookshelf.js' type='module')
    script(src="/javascripts/delete-manga-from-bookshelf.js" type="module")
