extends layout.pug

include utils.pug

block head
  title=title
  link(rel='stylesheet' href='/stylesheets/manga-detail.css')
  link(rel='stylesheet' href='/stylesheets/navbar.css')
  link(rel='stylesheet' href='/stylesheets/reset.css')

block content
  div(class="container")
    div
      img(class="manga-cover" src=`${manga.imgSrc}` alt=`${manga.title}'s manga cover`)

    div(class="details")
      h2(class="title") #{manga.title}
      p(class="year") <span class="year-label">Year:</span> #{manga.year}
      p(class="author") <span class="author-label">Author:</span> #{manga.author}

      p(class="description-label") <span class="description-label">Description:</span>
      p(class="description") #{manga.description}
      p(class="genre-label") <span class="genre-label">Genre:</span>
      div(class="genreList")
        ul
          each genre in genres
            a(href=`/genres/${genre.id}`)
              li= genre.name
      if (bookshelves.length)
        form(class="addToBookshelfForm" method="post" action="/mangaBookshelfJoins")
          input(type="hidden" name="_csrf" value=csrfToken)
          input(type="hidden" name="mangaId" value=`${manga.id}`)
          label(for="bookshelfId") Add to Bookshelf :
          select(name="bookshelfId" value=`${bookshelves[0].id}` required)
            each bookshelf in bookshelves
              option(value=bookshelf.id) #{bookshelf.name}
          button(class="addMangaBtn" type="submit") ➕
      if locals.authenticated
        form(id="addReviewForm" class="addReviewForm" method="post" action=`/api/reviews`)
          input(type="hidden" name="_csrf" value=csrfToken)
          input(type="hidden" id="reviewMangaId" name="mangaId" value=`${manga.id}`)
          input(type="hidden" id="reviewUserId" name="mangaId" value=`${user.id}`)
          +field("Add a Review", "review", null, fieldType="textarea", placeholder="Leave a Review...")
        button(class="submitReview" type="submit") Submit

      if (reviews.length)
        div(class="reviews")
          h2(id="review-heading") Reviews (<span id="review-counter">#{reviews.length}</span>)
          div(class="reviewbox")
            ul(id="reviewsContainer")
              each review in reviews
                li(class="reviewBox" name=`${review.id}` id=`box-${review.id}`)
                  p(class="reviewUsernameDate") #{review.User.username} 🥭 <span class="reviewDate">#{review.updatedAt.toLocaleString()}</span>
                    p(class="actualReview" id=`review-${review.id}`) #{review.review}
                  if locals.authenticated && user.id === review.userId
                      button(class="editReview" name=`${review.id}` id=`edit-${review.id}`) edit
                      button(class="deleteReview" name=`${review.id}` id=`delete-${review.id}`) delete
  script(src='/javascripts/add-review.js' type='module')
  script(src='/javascripts/edit-review.js' type='module')
  script(src='/javascripts/delete-review.js' type='module')
