extends layout.pug

block head
  title=title
  link(rel='stylesheet' href='/stylesheets/reset.css')
  link(rel='stylesheet' href='/stylesheets/navbar.css')
  link(rel='stylesheet' href='/stylesheets/mangas.css')

block content
  div(class="manga-page")
    div(class="genre-menu")
      h2(class='genre-header') Genres
      each genre in genres
          div(class="genre-block")
            a(href=`/genres/${genre.id}`)
              h3= genre.name
    ul(class= "mangas-container")
      each manga in mangas
        div(class= "manga-box")
          a(href=`/mangas/${manga.id}`)
            li= manga.title
            img(class= "manga-cover" src=`${manga.imgSrc}` alt=`${manga.title}'s manga cover`)
