extends layout.pug

include utils.pug

block head
  title=title
  link(rel='stylesheet' href='/stylesheets/manga-detail.css')
  link(rel='stylesheet' href='/stylesheets/reset.css')

block content
  div(class="container")
    div
      img(class="manga-cover" src=`${manga.imgSrc}` alt=`${manga.title}'s manga cover`)

    div(class="details")
      h2(class="title") #{manga.title}
      p(class="year") <span class="year-label">Year:</span> #{manga.year}
      p(class="author") <span class="author-label">Author:</span> #{manga.author}

      p(class="description-label") <span class="description-label">Description:</span>
      p(class="description") #{manga.description}
      p(class="genre-label") <span class="genre-label">Genre:</span>
      div(class="genreList")
        ul
          each genre in genres
            a(href=`/genres/${genre.id}`)
              li= genre.name
      if (bookshelves.length)
        form(class="addToBookshelfForm" method="post" action="/mangaBookshelfJoins")
          input(type="hidden" name="_csrf" value=csrfToken)
          input(type="hidden" name="mangaId" value=`${manga.id}`)
          label(for="bookshelfId") Add to Bookshelf
          select(name="bookshelfId" value=`${bookshelves[0].id}` required)
            each bookshelf in bookshelves
              option(value=bookshelf.id) #{bookshelf.name}
          button(type="submit") Add

      form(class="addReviewForm" method="post" action="/api/reviews")
        input(type="hidden" name="_csrf" value=csrfToken)
        +field("Add a Review", "review", null, fieldType="textarea", placeholder="Leave a Review...")
      button(class="submitReview" type="submit") Submit
